.vb-main-nav
  height: 60px
  width: 100%
  background-color: black
  //background-color: #FFCC00
  margin: 0px
  padding: 0px
  text-align: left

  .vb-list-menu
    list-style: none
    margin: 0px
    padding: 0px
    display: flex
    flex-wrap: nowrap

    .vb-menu
      font-size: 12px
      font-weight: bold
      margin-top: 40px; margin-left: 10px; margin-right: 10px
      color: white

      a
        text-decoration: none
        color: white
