
.vb-main-nav
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: space-between

  position: fixed

  height: 50px
  width: 100%
  background-color: black
  z-index: 10
  //background-color: #FFCC00
  //background-image: url('/client/assets/img/parusater3.jpg')

  div.menu-item-1
    order: 1
    margin-left: 20px

  div.menu-item-2
    order: 2

    span
        margin-right: 20px
        vertical-align: super
        font-size: 13px
        font-weight: bold

    a
        color: white
        text-decoration: none
        transition: all .5s ease

        &:hover
          color: #FFCC00

  div.menu-item-3
    order: 3

    span
        margin-right: 20px
        vertical-align: super
        font-size: 13px
        font-weight: bold

    a
        color: white
        text-decoration: none
        transition: all .5s ease

        &:hover
          color: #FFCC00

  div.menu-item-4
    order: 4

    span
        margin-right: 20px
        vertical-align: super
        font-size: 13px
        font-weight: bold

    a
        color: white
        text-decoration: none
        transition: all .5s ease

        &:hover
          color: #FFCC00

  div.menu-item-5
    order: 5

    span
        margin-right: 20px
        vertical-align: super
        font-size: 13px
        font-weight: bold

    a
        color: white
        text-decoration: none
        transition: all .5s ease

        &:hover
          color: #FFCC00

  div.menu-item-6
    order: 6
    margin-right: 20px

    span
        margin-right: 20px
        vertical-align: super
        font-size: 13px
        font-weight: bold

    a
        color: white
        text-decoration: none
        transition: all .5s ease

        &:hover
          color: #FFCC00
