.vb-home
  display: flex
  flex-flow: row wrap
  justify-content: center

  div.vb-live
    order: 1
    flex: 1 1 30%
    display: flex
    flex-flow: column nowrap
    align-items: center

    background-color: white
    min-width: 300px
    min-height: 700px
    margin-top: 50px

  div.vb-artist
    order: 2
    flex: 1 1 30%
    display: flex
    flex-flow: column nowrap
    align-items: center

    background-color: white
    min-width: 300px
    min-height: 700px
    margin-top: 50px

  div.vb-control
    order: 3
    display: flex
    flex-flow: column nowrap
    align-items: center

    background-color: white
    margin-top: 50px
    min-height: 700px
    border-style: solid
    border-width: 2px
    border-color: black
    width: 300px
