.vb-home
  display: flex
  flex-flow: row wrap
  justify-content: center

  div.vb-live
    order: 1
    flex: 1 1 25%
    display: flex
    flex-flow: column nowrap
    align-items: center

    background-color: white
    min-width: 100px
    min-height: 700px
    margin-top: 50px

  div.vb-artist
    order: 2
    flex: 1 1 25%
    display: flex
    flex-flow: column nowrap
    align-items: center

    background-color: white
    min-width: 100px
    min-height: 700px
    margin-top: 50px

  div.vb-video
    order: 3
    flex: 1 1 25%
    display: flex
    flex-flow: column nowrap
    align-items: center

    background-color: white
    min-width: 100px
    min-height: 700px
    margin-top: 50px

  div.vb-control
    order: 4
    display: flex
    flex-flow: column nowrap
    align-items: center

    background-color: white
    width: 320px
    margin-top: 50px
